
:root {
    --color-seleccion: rgb(203, 203, 203);
    --color-navbar: #191919;
    --Color-primario: #ab1535 ;
    --color-secundario:  #8a102b;
    
}
.navbar {
    background: linear-gradient(85deg, #8a102b ); 
    background-color: #641414;
}



.logo-ferremas {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 1000px;
}

/*Links a*/
.navbar-brand, .nav-item, .nav-link {
    color: white;
}

.link-diseño-nav {
    background-color: #ab1535 ;
    border: 1px solid #940121;
    margin-left: 8px;
    border-radius: 10px;
}

.link-diseño-nav:hover {
    color: #191919;
    background-color:#d2294e;
    border: 1px solid #aa0428;

}



.navbar-brand, .nav-item, .nav-link {
    color: white;
}

.nav-icons {
    position: relative;
    margin: 2px;
    top: 1px;
}


.nav-autenticacion-1 {
    position: relative;
    top: 9px;
    color: #74ff39;
    cursor: default;
}

.nav-autenticacion-2 {
    position: relative;
    top: 9px;
    color: #ff3939;
    cursor: default;

}

.cantidad-carro-nav  {
    position: relative;
}


.carousel-inner {
    height: 500px;
}



:root {
    --color-seleccion: rgb(203, 203, 203);
    --color-navbar: #191919;
    --Color-primario: #ab1535 ;
    --color-secundario:  #8a102b;
    
}
.navbar {
    background: linear-gradient(85deg, #8a102b ); 
    background-color: #641414;
}



.logo-ferremas {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 1000px;
}

/*Links a*/
.navbar-brand, .nav-item, .nav-link {
    color: white;
}

.link-diseño-nav {
    background-color: #ab1535 ;
    border: 1px solid #940121;
    margin-left: 8px;
    border-radius: 10px;
}

.link-diseño-nav:hover {
    color: #191919;
    background-color:#d2294e;
    border: 1px solid #aa0428;

}



.navbar-brand, .nav-item, .nav-link {
    color: white;
}

.nav-icons {
    position: relative;
    margin: 2px;
    top: 1px;
}


.nav-autenticacion-1 {
    position: relative;
    top: 9px;
    color: #74ff39;
    cursor: default;
}

.nav-autenticacion-2 {
    position: relative;
    top: 9px;
    color: #ff3939;
    cursor: default;

}

.cantidad-carro-nav  {
    position: relative;
}


.carousel-inner {
    height: 500px;
}