:root {
    --color-seleccion: rgb(203, 203, 203);
    --color-navbar: #191919;
    --Color-primario: #ab1535 ;
    --color-secundario:  #8a102b;
    --color-blanco: #ffffff;

}

.navbar {
    background-color: #8a102b;
}

.navbar-2 {
    background-color: #2c2c2c;
}
 
.logo-ferremas {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 1000px;

}

/*Links a*/
.navbar-brand, .nav-item, .nav-link {
    color: white;
}

.link-diseño-nav {
    background-color: #ab1535 ;
    border: 1px solid #940121;
    margin-left: 8px;
    border-radius: 10px;
}

.link-diseño-nav:hover {
    color: #191919;
    background-color:#d2294e;
    border: 1px solid #aa0428;

}



.navbar-brand, .nav-item, .nav-link {
    color: white;
}

.nav-icons {
    position: relative;
    margin: 2px;
    top: 1px;
}


.nav-autenticacion-1 {
    position: relative;
    top: 9px;
    color: #74ff39;
    cursor: default;
}

.nav-autenticacion-2 {
    position: relative;
    top: 9px;
    color: #ff3939;
    cursor: default;

}

.cantidad-carro-nav  {
    position: relative;
}


/* ROOT DE LA CATEGORIA */
:root {
    --screenWidth: 300px;
    --lineClamp: 6;
    --slideHeight: 150px;
    --slideWidth: 200px;
    --spaceBtwSlideLeft: 0px;
    --spaceBtwSlideRight: 0px;
    --slideBorderRadiusSlide: 10px;
    --paddingTopSlide: 10px;
    --paddingLeftSlide: 0px;
    --ImgWidthSlide: 100%;
    --marginLeftRight: 0px;
    --marginTop: 0px;
    --marginBottom: 0px;
    --marginLeft: 0px;
    --marginRight: 0px;
    --borderRadiusImg: 0px;
    --paddingLeftRight: 0px;
    --paddingTop: 0px;
    --paddingBottom: 0px;
    --paddingLeft: 0px;
    --paddingRight: 0px;
    --slideBorderSize: 0px;
    --slideBorderColor: #275EFE;
    --slideBorderType: solid;
    --slideSolidBackgroundColor: #fff;
    --slideGradientBackgroundColorStart: #0093E9;
    --slideGradientBackgroundColorEnd: #80D0C7;
    --slideGradientBgStartOrientation: 90deg;
    --slideGradientBgStartIntensity: 0%;
    --slideGradientBgEndIntensity: 100%;
    --marginTopTitle: 15px;
    --marginBottomTitle: 15px;
    --marginLeftTitle: 10px;
    --marginRightTitle: 10px;
    --titleAlignment: left;
    --titleColor: #5f637d;
    --textColor: #5f637d;
    --TitleSize: 16px;
    --textAlignment: left;
    --textSize: 12px;
    --titleWeight: 600;
    --textWeight: normal;
    --marginTopText: 15px;
    --marginBottomText: 15px;
    --marginLeftText: 10px;
    --marginRightText: 10px;
    --imgBackground: url(https://cdn.mos.cms.futurecdn.net/i7xipepPSZQaTCmoQFbbwc.jpg);
    --buttonFontSize: 13px;
    --buttonFontColor: white;
    --buttonTextAlign: center;
    --buttonBorderRadius: 0px;
    --buttonBgColor: #2c8ae8;
    --buttonWidth: 145px;
    --buttonpaddingBottom: 5px;
    --buttonpaddingTop: 5px;
    --buttonpaddingLeft: 15px;
    --buttonpaddingRight: 15px;
    --buttonWeight: 100;
    --buttonBorderSize: 0px;
    --buttonBorderColor: #275EFE;
    --buttonBorderType: solid;
}

.mainContainerCarouselFinal::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.rounded-reel-item {
    margin-left: var(--spaceBtwSlideLeft);
    margin-right: var(--spaceBtwSlideRight);
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: var(--paddingTopSlide);
    padding-bottom: var(--paddingTopSlide);
    padding-left: var(--paddingLeftSlide);
    padding-right: var(--paddingLeftSlide);
    flex-direction: column;
    border-radius: var(--slideBorderRadiusSlide);
    min-width: 100vw;
   

}

.controlerFinalCarousel div {
    text-align: center;
    border-radius: 50px;
    border: none;
    height: 20px;
    width: 20px;
    display: flex;
    margin: 10px 20px;
    padding: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    backdrop-filter: blur(11px) saturate(180%);
    -webkit-backdrop-filter: blur(11px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.controlerFinalCarousel div img {
    width: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.containerVertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slideTemplate {
    display: inline-block;
    width: var(--slideWidth);
    height: var(--slideHeight);
    border-radius: var(--slideBorderRadiusSlide);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    margin: 20px;
    border-width: var(--slideBorderSize);
    border-color: var(--slideBorderColor);
    border-style: var(--slideBorderType);
    background-color: var(--slideSolidBackgroundColor);
    overflow: hidden;
    transition: 300ms ease-out;
}

.slideTemplate:hover {
    top: 10px;
    animation-duration: 2s;
    transition: all 1s ease; 
    transform: translateY(-10px); 
    background-color: var(--color-seleccion);

}



.slideTemplate img {
    width: var(--ImgWidthSlide);
    height: var(--ImgHeightSlide);
    margin-top: var(--marginTop);
    margin-bottom: var(--marginBottom);
    margin-left: var(--marginLeft);
    margin-right: var(--marginRight);
    padding-top: var(--paddingTop);
    padding-bottom: var(--paddingBottom);
    padding-left: var(--paddingLeft);
    padding-right: var(--paddingRight);
    border-radius: var(--borderRadiusImg);
}

.backgroundColor {
    background: linear-gradient(var(--slideGradientBgStartOrientation), var(--slideGradientBackgroundColorStart) var(--slideGradientBgStartIntensity), var(--slideGradientBackgroundColorEnd) var(--slideGradientBgEndIntensity));
}

.slideContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.backgroundImage {
    background-image: var(--imgBackground);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.mainContainerCarouselFinal {
    padding-left: 0px;
    padding: 0px 0px 0px;
    max-width: 1200px;
    margin-bottom: 40px;
    overflow-x: hidden scroll;
    padding-top: 12px;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(var(--screenWidth));
    max-width: 1200px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    scroll-padding-left: 20%;
    mask-image: linear-gradient(to right, transparent 0%, black 7% 94%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 7% 94%, transparent 100%);
    mask-mode: alpha;
    margin: 20px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.controlerFinalCarousel {
    width: calc(var(--screenWidth));
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color-hr {
    background-color: var(--titleColor);
}

.texto-bienvenida { 
    font-size: 30px;
}


.btn-principal {
    position: relative;
    background-color: var(--Color-primario); 
    text-decoration: none;
    color: var(--color-blanco);
    transition: all 0.6s ease-in-out; 
    padding: 9px;
}



.btn-principal:hover {
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    border-radius: 5px;
}

.btn-secundario {
    position: relative;
    background-color: var(--color-blanco);
    text-decoration: none;
    color: var(--Color-primario);
    transition: all 0.6s ease-in-out; 
    padding: 8px;
    border: 2px solid var(--Color-primario);
}

.btn-secundario:hover {
    color: var(--color-secundario);
    border: 2px solid var(--color-secundario);
    transition: all 0.6s ease-in-out; 

}



.div-titulo-categoria {
    padding: 5px;

}


.div-seccion  {
    padding-bottom: 20px;
    border-left: 1px solid var(--color-seleccion);
    border-right: 1px solid var(--color-seleccion);
    border-bottom: 1px solid var(--color-seleccion);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.titulo-producto {
    background-color: var(--color-secundario); 
    padding: 5px;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.subtitulo-diseño {
    padding: 2px;
    z-index: 1;
}


.card {
    z-index: 2;

} 

.card:hover {
    transform: translateY(-10px); 
    transition: all 1s ease; 

}


.card-img-top {
height: 200px;
   
}
.card-id-producto_categoria {
    text-align:inherit;
    font-size: 13px;
    font-weight:bold;
    bottom: 55px;
    left: 124px;
    cursor: default;
}

.texto-nombre-producto {
    cursor: default;
    color: rgb(41, 41, 41);

}

.texto-descripcion {
    position: relative;
    bottom: 10px;
    cursor: default;
    color: rgb(75, 75, 75);

}

.texto-precio {
    position: relative;
    bottom: 15px;
    cursor: default;
    color: red;
    font-size: 20px;
}


footer {
    margin-top: 500px;
    background-color: #262929;
    color: white;
}

.link-color-f, .list-unstyled,.text-body  {
    color: var(--color-blanco);
}


footer {

    background-color: var(--Color-primario);
}

.footer-final {

    background-color: var(--color-secundario);
}