{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/lista_contacto.css' %}">

</head>

<body>
    <div class="container mt-5">
        <a href="javascript:history.back()" class="btn btn-secondary">Volver</a>
    </div>

    <table class="table table-bordered "></table>

    <div class="container mt-5 mb-5">

        <h2 class="titulo my-2 p-2 text-center">Lista de pedidos</h2>
        <p class="text-center">¡Porfavor! Procesa los pedidos pendientes. En caso de que el cliente quiera rechazar su
            pedido, selecciona la opcion de cancelar. Selecciona el metodo de pago realizado por el cliente y verifique
            que el pedido corresponda adecuadamente al usuario</p>
        <div class="table-responsive ">
            <table class="table  align-middle">
                <thead class="table-color">
                    <tr>
                        <th scope="col">ID pedido</th>
                        <th scope="col">Correo de contacto</th>
                        <th scope="col">Monto Pedido</th>
                        <th scope="col">Fecha pedido</th>
                        <th scope="col">Metodo de envio</th>

                        <th scope="col">Estado pedido</th>
                        <th scope="col">Metodo de pago</th>

                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for listapedidos in pedidos %}
                    <tr class="">
                        <td>{{ listapedidos.id_pedido }}</td>
                        <td>{{ listapedidos.id_usuario.correo_usuario }}</td>
                        <td>{{ listapedidos.monto_pedido }}</td>
                        <td>{{ listapedidos.fecha_pedido }}</td>
                        <td>{{ listapedidos.metodo_envio }}</td>
                        <td>{{ listapedidos.estado }}</td>
                        <td>{{ listapedidos.metodo_pago }}</td>

                        <td class="text-center">
                            <form method="post"
                                action="{% url 'cambiar_estado_pedido' listapedidos.id_pedido 'Confirmado' %}">
                                {% csrf_token %}
                                <input type="hidden" name="metodo_pago" value="Efectivo"> <!-- O lo que corresponda -->
                                <button type="submit" class="btn btn-success btn-sm mt-2">Aprobar pedido</button>
                            </form>

                            <hr>
                            <form method="post"
                                action="{% url 'cambiar_estado_pedido' listapedidos.id_pedido 'Cancelado' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm mb-2">Rechazar pedido</button>
                            </form>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                    Ayuda
                </button>
            </p>
            <div style="min-height: 10px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                    <div class="card card-body" style="width: 800px;">
                        Como Vendedor/Encargado debe ser capaz de
                        - Asesorar a los clientes en la selección de productos.
                        - Recibir y procesar pedidos.
                        - Gestionar los pagos y facturación.
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>


    {% endblock %}



    {% bootstrap_javascript %}

</body>

</html>