<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremax - Detalle Producto</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/detalle-producto-1.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

      <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Logo empresa -->
        <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'home' %}">
          <img src="{% static  'images/logo-ferremas.png' %}" height="40" alt="MDB Logo" loading="lazy" />
        </a>
        <!-- links derechos -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="link-diseño-nav nav-link" href="{% url 'Pedidos_pendientes' %}">
              <i class="fas fa-hourglass-half"></i>
              Mis pedidos
            </a>


          </li>

          <li class="nav-item">
            <a class="link-diseño-nav nav-link" href="{% url 'compras_usuario' %}">
              <i class="nav-icons fas fa-check-circle"></i>
              Historial compras
            </a>


          </li>

          <li class="nav-item">
            <a class="link-diseño-nav nav-link" href="{% url 'registro' %}">
              <i class="fas fa-user-plus"></i>

              Crear cuenta
            </a>
          </li>
          <li class="nav-item">
            <a class="link-diseño-nav nav-link active" aria-current="page" href="{% url 'inicio_sesion' %}">
              <i class="fas fa-sign-in-alt"></i>

              Iniciar sesión

            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="link-diseño-nav nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bars me-1"></i> Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item py-3" href="{% url 'lista_productos' %}?id_categoria=1">Herramientas
                  Manuales</a>
              </li>
              <li><a class="dropdown-item py-3" href="{% url 'lista_productos' %}?id_categoria=2">Materiales Básicos</a>
              </li>
              <li><a class="dropdown-item py-3" href="{% url 'lista_productos' %}?id_categoria=3">Equipos de
                  Seguridad</a>
              </li>
              <li><a class="dropdown-item py-3" href="{% url 'lista_productos' %}?id_categoria=4">Tornillos y
                  Anclajes</a>
              </li>
              <li><a class="dropdown-item py-3" href="{% url 'lista_productos' %}?id_categoria=5">Fijaciones y
                  Adhesivos</a>
              </li>
              <li><a class="dropdown-item py-3" href="{% url 'lista_productos' %}?id_categoria=6">Equipos de
                  Medición</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- links izquierdos -->
      <div class="d-flex align-items-center">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <form class="d-flex input-group w-auto">
              <input type="search" class="form-control" placeholder="Buscar Producto" aria-label="Search"
                aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
            </form>
          </div>
        </nav>
        <ul class="navbar-nav">

          <!-- Badge -->
          <li class="nav-item mx-1">
            {% if estado == 'usuarioAutenticado' %}
            <p class="nav-autenticacion-1">
              <b>Activo ●</b>
            </p>
            {% else %}
            <p class=" nav-autenticacion-2">
              <b>Sin cuenta ●</b>
            </p>
            {% endif %}
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'carro_compra' %}">
              <span></span>
              <span class="cantidad-carro-nav badge badge-pill bg-danger py-2">
                <i class="fas fa-shopping-cart "></i>
                </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
    <!-- texto para regresar atra -->

    <div class="container mt-3">



        <a href="{% url 'home' %}" class="btn btn-primary">
            <i class="fas fa-arrow-left"></i> Regresar
        </a>
    <!-- Detalle Producto -->
    <div class="container mt-5 mb-5">
        <div class="row producto-detalle-container">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                {% if producto.imagen_producto %}
                <img src="{{ producto.imagen_producto.url }}" class="imagen_producto" alt="{{ producto.nombre_producto }}">
                {% endif %}
            </div>
            <div class="col-md-6">
                <p class="nom_producto">{{ producto.nombre_producto }}</p>
                <p class="precio_producto">${{ producto.precio_producto }}</p>
                <p class="descripcion_producto">{{ producto.descripcion_producto }}</p>
                <p class="descripcion_producto">codigo: {{ producto.codigo_producto }}</p>
            
            {% if user.is_authenticated %}
                <div class="formulario-compra">
                    <form action="{% url 'agregar_al_carrito' producto.id %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-agregar">
                            <i class="fas fa-cart-plus"></i> Agregar al Carro
                        </button>
                    </form>
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <i class="fas fa-exclamation-triangle"></i>
                    Necesitas iniciar sesión para agregar productos al carro. 
                        <a  href="{% url 'inicio_sesion' %}" class="alert-link  ">Iniciar sesión aquí</a>
                </div>
            
            {% endif %}</div>
            </div>
        </div>
    </div>

</body>
</html>
