<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ferremax</title>


    {% load bootstrap5 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/detalle-producto.css' %}">
    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <!--Seccion Productos -->
    <section class="col-11 bg-primary mx-auto d-flex">        
        <div class="div-orden-productos col-6">
            <div class="col-6 mx-auto">
                    {% if producto.imagen_producto %}
                    <img src="{{ producto.imagen_producto.url }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
                    {% endif %}
            </div>
        </div>

        <div class="col-6">
            <p>{{ producto.nombre_producto }}</p>
            <p>{{ producto.descripcion_producto }}</p>
            <p>{{ producto.precio_producto }}</p>
            <div>
                <button>Modificar </button>
                <button>Carro</button>
            </div>
        </div>
    </section>

</body>

</html>