<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>


    {% load bootstrap5 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/style-8.css' %}">
    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!-- NAV -->
    <nav class="navbar navbar-expand-lg">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!--<img class="logo-ferremas" src="{% static  'images/logo-ferremas.png' %}" alt="">-->
                Ferremas

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'inicio_sesion' %}">
                            <i class="fas fa-user"></i>
                            Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registro' %}">
                            <i class="fas fa-user-plus"></i>
                            Crear cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'carro_compra' %}">
                            <i class="fas fa-shopping-cart"></i> <!-- icon carro-->
                            Carro </a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


    <form method="post" action="Inserta aquí la url entregada">
        <input type="hidden" name="token_ws" value="Inserte aquí el token entregado" />
        <input type="submit" value="Ir a pagar" />

    </form>
        
</body>

</html>