{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ferremax</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'css/inicio_sesion.css' %}">

</head>

<body>

<!-- Imagen de fondo ocupando toda la pantalla -->
<img src="{% static 'images/fondo-registro-inicio.png' %}" class="img-login" alt="bienvenida">

<!-- Contenedor centrado -->
<section class="formulario-padre col-6 d-flex justify-content-center align-items-center">
  <div class="formulario-container col-12 col-sm-10 col-md-8 col-lg-6">
    {% block content %}
      <form class="diseñoform p-4 rounded" id="miFormulario" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="submit" class="btn btn-primary">Iniciar sesión</button>
        <a class="nav-link mt-2" href="{% url 'home' %}">Ir a la página principal</a>
      </form>
    {% endblock %}
  </div>
</section>


</body>

</html>