<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ferremax</title>


    {% load bootstrap5 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/stylee.css' %}">
    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <!-- Carrusel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static './images/carrusel-ejemplo.jpg '%}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static './images/carrusel-ejemplo.jpg '%}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <!--Seccion Productos -->
    <div class="div-orden-productos">
        <h3 class="titulo-categoria">
            <i class="fas fa-tags mx-auto"></i>
            Productos
        </h3>
        {% for producto in productos %}
        <div class="col-6 col-sm-6 col-md-4 col-xl-3 mx-auto">
            <div class="card mx-auto">
                {% if producto.imagen_producto %}
                <img src="{{ producto.imagen_producto.url }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
                {% endif %}
                <h1>{{ producto.nombre_producto }}</h1>
                <h6>{{ producto.precio_producto }}</h6>

            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>