<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>


    {% load bootstrap5 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/style-8.css' %}">
    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    
    <div class="div-orden-productos row col-6">
        <h3 class="titulo-categoria">
            Pedidos pendientes
        </h3>
        {% for pedidos in pedido %}
        <div class="col-6 col-sm-6 col-md-4 col-xl-3 mx-auto">
            <div class="card mx-auto">
                <img src="{% static  'images/Pedido-en-espera.png' %}" class="card-img-top" alt="{{ producto.nombre_producto }}">
                <P>Nro pedido: {{ pedidos.id_pedido }} </P>
                <P>Estado del pedido: {{ pedidos.estado }}</P>
                <P>Monto pedido:{{ pedidos.monto_pedido }}</P>
                <P>Fecha: {{ pedidos.fecha_pedido }}</P>
               

                <button>Detalle pedido</button>
            </div>
        </div>
        {% endfor %}
    </div>


     <a href="{% url 'home' %}" class="btn btn-primary w-100 mt-2">
                    <i class="fas fa-shopping-cart"></i> Volver a la pagina principal 
                </a>

        
</body>

</html>