<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>


    {% load bootstrap5 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/style-8.css' %}">
    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <h1>Muchas gracias (nombre usuario)</h1>
    <h1>¡Hemos recibido tu orden!</h1>
    <p>Pronto estaremos preparando tu pedido.</p>

    <div>
        <h6>DIRECCIÓN DE ENTREGA O RETIRO</h6>
    </div>

    <div>
        <div>
            <H1>Detalle del pedido</H1>
            <p>ID Pedido: C17743772</p>
            
            <!--div ejemplo-->
            <div>
                <p>imagen</p>
                <p>marca</p>
                <p>descripcion</p>
                <p>cantidad</p>
                <p>precio</p>
            </div>
        </div>
        
        <div>
            <H1>Compra</H1>
            <p>Fecha de compra:   19/05/2025</p>
            <p>Monto total: </p>
        </div>
    </div>
    
   
    
    

     <a href="{% url 'home' %}" class="btn btn-primary w-100 mt-2">
                    <i class="fas fa-shopping-cart"></i> Volver a la pagina principal 
                </a>

        
</body>

</html>