<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas</title>


    {% load bootstrap5 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/style-8.css' %}">
    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    
    <h1>¡Muchas gracias usuario {{ pedido.id_usuario.nombre_usuario }}!</h1>
    <h1>¡Hemos recibido tu orden!</h1>
    <p>Pronto estaremos preparando tu pedido.</p>

        <div>
            <h2>Detalle del Pago</h2>
           <!--<p>Estado del pago: {{ estado }}</p>--> 

            <p>Estado del pago: pendiente</p>
            <p>Número de orden: {{ pedido.estado }}</p>
            <p>Monto pagado: ${{ pedido.monto_pedido }}</p>
            <p>Usuario: {{ pedido.id_usuario.nombre_usuario }}</p>
            <p>Correo de contacto: {{ pedido.id_usuario.correo_usuario }}</p>

            <p>Fecha del pedido: {{ pedido.fecha_pedido }}</p>

        </div>
    
    </div>
    
   
    
    

     <a href="{% url 'home' %}" class="btn btn-primary w-100 mt-2">
                    <i class="fas fa-shopping-cart"></i> Volver a la pagina principal 
                </a>

        
</body>

</html>